<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    

  <div class="container card-body" style="border: 1px solid grey;border-radius: 15px;margin-top: 10px;margin-bottom: 10px;">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Description
                    </th>
                   
                </tr>
                <tr>
                    <td>
                        <img src="" alt="product-image" width="50px" style="margin: 2px;">
                    </td>
                    <td></td>
                    <td></td>
                    
                </tr>
            </table>
        </div>
    </div>

</body>
</html>